.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
coverage/
backend/worker/node_modules/
backend/worker/.wrangler/
